.cortney{
    background: rgb(46, 0, 78);
    color: green;
    height: 90pt;
    border-radius: 10pt;
    text-align: center;
    font-size: 86pt;
    line-height: 100%;

}
.mike{
    font-size:20pt
}