.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.squareContainer{
    height: 80%;
    
}
.square{
    width: 90%;
    height: 280px;
    border: 2px;
    border-color: black;

}
.black{
    background: black
}