.resume{
    width: 90%;
    margin: auto;
    height: 800pt;
    text-align: center;
    background: #F4EFEB;
    

}
.resume-pdf{
    display: inline-block;
    
}
.portfolio-card {
    width: 49%;
    height: 195pt;
}
.portfolio-card:hover .description {
    height: 400pt;
}
.card-icon{
    background: transparent;
    color: transparent;
}