.resume{
    width: 90%;
    margin: auto;
    height: 900pt;
    text-align: center;
    background: #F4EFEB;
    

}
.image{
    height: 100pt;
    padding: 10pt;
}
.about{
    display: flex;
}
.about-text {
    padding-top: 10pt;
}
.resume-pdf{
    display: inline-block;
    
}
.portfolio-wrapper{
    width: 101%;
    margin-left: -0.5%;
    background: #2ca5df;
}
.portfolio-card {
    width: 33.2%;
    height: 195pt;
    display: inline-block;
    position: relative;
    margin-bottom: -4pt;
}
.description{
    height: 40pt;
    position: absolute;
    bottom: -40pt;
    transition: 0.3s;
    text-align: center;
    width: 100%;
    font-size: 11pt;
}
.icon-text{
    font-size: 120%;
    transition: 0.3s;
}
.portfolio-card:hover .card-icon{
    font-size: 60pt;
    transition: 0.3s;
}
.portfolio-card:hover .icon-text{
    font-size: 100%;
    transition: 0.3s;
}
.portfolio-card:hover .description {
    
    -webkit-transform: translatey(-100%); 
    -moz-transform: translatey(-100%); 
    -ms-transform: translatey(-100%); 
    -o-transform: translatey(-100%); 
    transform: translatey(-100%); 
    transition: 0.3s
}
.card-icon{
    font-size: 660%;
    margin-top: 47pt;
    transition: 0.3s;
}
.icon-wrapper{
    margin: auto;
    width: 100%;
    text-align: center;
    position: absolute;
}
.text-bottom{
    background: #969696;
    position: relative;
    z-index: 99;
    margin-left: -0.5%;
    width: 101%;
    height: 200pt;
}
.footer-container{
    width: 101%;
    margin-left: -0.5%;
    background: #2ca5df;
    height: 200pt;
}
.contact-info{
    margin-left: 20pt;
}
.contact{
    margin-top:5pt;
    
}