html {
    scroll-behavior: smooth;
  }
body{
    background: #2098d1;
}
.desk-image{
    background: #2098d1;
    height:80vh;
    width: 101%;
    margin-left: -0.5%;
    margin-top: -10pt;
    color: #2B0707; 
    position: relative; 
    text-align: center;
    color: azure;
}
.list-links{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 30%;
    text-decoration: none;
    left: 52%;
}
a{
    text-decoration: none;
    color: inherit;
}

.business-card{
    width: 300pt;
    height: 50pt;
    display: inline-block;
    margin-top: 202pt;
}