.desk-image{
    background: #FCDEB5;
    height:300pt;
    width: 102%;
    margin-left: -1%;
    margin-top: -10pt;
    color: #2B0707; position: relative; 
}
.list-links{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 30%;
    text-decoration: none;
    margin-left: 39%;
}
.list-links > a{
    text-decoration: none;
}
.image{
    opacity: 0.2;
}

.business-card{
    width: 100pt;
    height: 50pt;
    background: green
}