/* Header */
.header-container{
    width: 101%;
    height: 130pt;
    margin-left: -0.6%;
    margin-top: -12pt;
    background: #5d5c61;
    position: relative;

}
.title-card{
    width: 60%;
    height: 60%;
    position: relative;
    left: 30%;
    top: 21%;
}
.logo{
    height: 90%;
}
.title{
    display: inline;
    vertical-align: top;
    line-height: 1.1;
    margin-left:10pt;
    font-size: 29pt;
    color: #fcfffc;
    position: absolute;
}

.sub-title{
    display: inline-block;
    line-height: 1.4;
    margin-left: 10pt;
    font-size: 12pt;
    color: #fcfffc;
    position: absolute;
    top: 41%;
    text-decoration: none;
}
.sub-text{
    text-decoration: none;
    color: #fcfffc;
}

/* NavBar */

.navbar-container{
    width: 101%;
    display: flex;
    justify-content: space-around;
}

/* Signup */

.signup{
    text-align: center;
}
.input{
    margin: 10pt;
    margin-left: 10pt;
}
.error-message{
    width:100%;
    text-align: center;
    font-size: 18pt;
    color: red

}

.form-input{
    width:40%;
    font-size: 20pt;
}

.form-wrapper{
    font-size: 18pt;
    margin-left: 15%;
    padding-left: 16pt

}

/* User Profile */

.reservation{
    margin: auto;

}


/* Direction */


.map{

    width:100%;
    height:550pt;
    border:0; 
    margin: auto;
}


/* Carousel */
.carousel-image{
    width: 80%;
    margin-left: 10%
}
.carousel-text{
    text-align: center;
    font-size: 18pt
}




/* calendar */

.calendar{
    height: 700pt
}

@media (max-width: 800px){
    .logo{
        display: none
    }
    .title-card{
        width: 100%;
        left:2%
    }
    .title{
        width: 100%
    }
    .carousel-image{
        
        width:100%
    }
}